{% extends 'base.html' %} {% load static %} {% block content %}
<h1 class="text-center mt-4 mb-4">{{ title }}</h1>
<div class="mt-3">
  <div class="d-flex align-items-top justify-content-between">
    <p>
      I'm a Python developer from Russia. I work with Django, FastAPI and
      automation tools. I enjoy building web applications, writing scripts and
      exploring self-hosted software.
      <br />
      <br />
      Examples of projects I have completed are presented in the
      <a
        href="https://github.com/prs2rnn?tab=repositories"
        target="_blank"
        rel="noopener noreferrer"
        >portfolio</a
      >.
    </p>
    <img
      class="avatar mb-2"
      src="{% static 'img/me.webp' %}"
      alt="Avatar"
      width="150"
      height="150"
    />
  </div>

  <div class="mt-3">
    Outside of programming I am interested in:
    <ul>
      <li>English learning</li>
      <li>Beekeeping</li>
      <li>Martial arts</li>
      <li>Health</li>
    </ul>
    Sometimes I keep notes about this and publish them on my
    <a href="{% url 'posts:list' %}">blog</a>.
  </div>
</div>
<h2 class="mt-5 fs-3">Contact</h2>
{% include 'includes/contact.html' %}
{% endblock content %}
