{% extends 'base.html' %} {% block content %}
<h1 class="fs-3">Andrey Perestoronin</h1>
<p>
  Python developer interested in backend development, automation, business
  analysis and self-hosted software.
</p>
<p>
  I write about Django, Linux, Docker, productivity, English learning and other
  things I find useful.
</p>
<p>
  <i class="bi bi-arrow-right"></i>
  <a href="{% url 'posts:list' %}">Browse all posts</a><br />
  <i class="bi bi-arrow-right"></i>
  <a href="{% url 'core:about' %}">About me</a>
</p>
<div>
  <h2 class="fs-5 mt-4">Currently</h2>
  {% include "includes/now.html" %}
</div>
<div>
  <h2 class="fs-5 mt-4">Recent Posts</h2>
  <ul style="list-style-type: none" class="ps-0 ms-0">
    {% for post in recent_posts %}
    <li>
      {{ post.created_at|date:"d M Y" }} &nbsp;
      <a href="{% url 'posts:detail' post.slug %}">{{ post.title }}</a>
    </li>
    {% empty %}
    <li>No posts yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
