{% extends 'base.html' %} {% block content %}
<h1 class="fs-3">Andrey Perestoronin</h1>
<p>
  This is a collection of notes about health, everyday life, learning and a few
  technical topics.
</p>
<p>I work as a Python developer, but this is not only a programming blog.</p>
<div>
  <div>
    <i class="bi bi-arrow-right"></i>
    <a href="{% url 'posts:list' %}">Browse all posts</a><br />
  </div>
  <div>
    <i class="bi bi-arrow-right"></i>
    <a href="{% url 'core:about' %}">About me</a>
  </div>
</div>
<div>
  <h2 class="fs-5 mt-4">Currently</h2>
  {% include "includes/now.html" %}
</div>
<div>
  <h2 class="fs-5 mt-4">Recent Posts</h2>
  <ul style="list-style-type: none" class="ps-0 ms-0">
    {% for post in recent_posts %}
    <li>
      {{ post.created_at|date:"d M Y" }} &nbsp;
      <a href="{% url 'posts:detail' post.slug %}">{{ post.title }}</a>
    </li>
    {% empty %}
    <li>No posts yet.</li>
    {% endfor %}
  </ul>
</div>
<div class="border mt-4 rounded-1 p-2">
  <h2 class="fs-5">Site stats</h2>
  <ul style="list-style-type: none" class="ps-0 ms-0 mb-0">
    <li>Visits: {{ visits }}</li>
    <li>Posts: {{ post_count }}</li>
    <li>Words: {{ total_words }}</li>
    <li>Tags: {{ tag_count }}</li>
    <li>First post: {{ first_post.created_at|date:"d M Y" }}</li>
  </ul>
</div>
{% endblock content %}
