{% extends 'base.html' %} {% block content %}
<h1 class="text-center mt-4 mb-4">{{ title }}</h1>
<div>
  <h2 class="h3">Hardware</h2>
  <ul>
    <li>Silent PC <b>Modern 14 - C12M</b></li>
    <li>Silent Mobile Phone <b>realme 15T</b></li>
  </ul>
  <h2 class="h3">Software</h2>
  <ul>
    <li><b>Windows 10</b> as the primary OS</li>
    <li><b>Obsidian</b> for notes</li>
    <li><b>Git Bash</b> and <b>Power shell</b> for command-line utilities</li>
    <li><b>Neovim</b> and <b>VSCodium</b> for text and code editing</li>
    <li><b>Excel</b> with <b>PowerQuery</b> for working with data</li>
    <li><b>Anki</b> for learning English</li>
    <li><b>Torrent</b> for music, films, and sometimes books</li>
    <li><b>KeepassXC</b> for storing passwords</li>
    <li><b>Gnupg</b> and <b>VeraCrypt</b> for encryption</li>
    <li><b>Photoshop CS6</b> for image editing</li>
    <li><b>Firefox</b> and <b>Tor Browser</b> for internet access</li>
  </ul>
  <h2 class="h3">Services</h2>
  <ul>
    <li><b>GitHub</b> for hosting</li>
    <li><b>OpenAI</b> as an AI assistant</li>
  </ul>
</div>
{% endblock content %}
