<p>The best way to reach me is by email.</p>
<h2 class="fs-5 mt-4">Email</h2>
<p style="color: var(--links)">developer [dot] prs2rnn [at] gmail [dot] com</p>
<h2 class="fs-5 mt-4">PGP / GPG</h2>
<p>I support encrypted communication.</p>
<pre>
Fingerprint:
4523 04BD A1BA 717D F84E
A50E 421C A951 3DBC AD80

Key ID:
421CA9513DBCAD80
</pre>
<p>
  <a
    class="post-link"
    href="https://keys.openpgp.org/vks/v1/by-fingerprint/452304BDA1BA717DF84EA50E421CA9513DBCAD80"
  >
    Download public key
  </a>
</p>
<p>I usually reply within a few days.</p>
