{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is a collection of notes about health, everyday life, learning and a few
  technical topics."
    />
    <meta
      name="google-site-verification"
      content="yRoNku4uK84Dly1VCsGw4whLBwWKI5KOztdDy8Deowc"
    />
    <meta name="color-scheme" content="light dark" />
    <meta property="og:title" content="Andrey Perestoronin | {{ title }}" />
    <meta property="og:image" content="{% static 'img/share.JPG' %}" />
    <meta property="og:url" content="https://prs2rnn.tech" />
    <meta property="”og:type”" content="”website”" />
    <meta
      property="og:description"
      content="This is a collection of notes about health, everyday life, learning and a few
  technical topics."
    />
    <title>Andrey Perestoronin | {{ title }}</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Andrey Perestoronin RSS Feed"
      href="{% url 'rss' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.png' %}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/bootstrap-icons/bootstrap-icons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}" />
    <script
      src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
      defer
    ></script>
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 col-sm-10">
        <nav
          class="d-flex flex-row flex-wrap justify-content-end border-bottom py-2 mt-4 mb-2 border-white mb-4"
          style="--bs-border-opacity: 0.1"
        >
          <div>
            <a
              class="{% if request.resolver_match.view_name == 'core:home' %}active{% endif %}"
              href="{% url 'core:home' %}"
              >home</a
            >
          </div>
          <div class="ms-3">
            <a
              class="{% if request.resolver_match.view_name == 'core:about' %}active{% endif %}"
              href="{% url 'core:about' %}"
              >about</a
            >
          </div>
          <div class="ms-3">
            <a
              class="{% if request.resolver_match.view_name == 'core:now' %}active{% endif %}"
              href="{% url 'core:now' %}"
              >now</a
            >
          </div>
          <div class="ms-3">
            <a
              class="{% if request.resolver_match.namespace == 'posts' %}active{% endif %}"
              href="{% url 'posts:list' %}"
              >posts</a
            >
          </div>
          <div class="ms-3">
            <a
              class="{% if request.resolver_match.view_name == 'core:uses' %}active{% endif %}"
              href="{% url 'core:uses' %}"
              >uses</a
            >
          </div>
        </nav>
        <main class="mx-3 mx-md-0">
          {% block content %}{% endblock content %}
        </main>
        <footer
          class="border-top border-white py-3 text-center mt-4"
          style="--bs-border-opacity: 0.1"
        >
          <div class="muted">&copy; 2026 Andrey Perestoronin</div>
          <a
            href="https://github.com/prs2rnn/django-blog"
            target="_blank"
            rel="noopener noreferrer"
            >Source
          </a>
          <span class="muted"> ·</span>
          <a href="{% url 'sitemap' %}">Sitemap</a>
          <span class="muted"> ·</span>
          <a href="{% url 'rss' %}">RSS</a>
          <span class="muted"> ·</span>
          <a href="{% url 'core:contact' %}">Contact</a>
        </footer>
      </div>
    </div>
  </body>
</html>
